*{
    margin: 0;
    padding: 0;
    color: #9B9B9B;
}

body{
    width: 100vw;
    height: 100vh;
}

.navbar{
    font-family: OpenSans,sans-serif,arial;
    background-color: #2A2A2A;
    width: 100%;
    height: 55px;
    color: #9B9B9B;
    display: flex;
}

a{  
    text-decoration: none;
}
.navbar a{
    font-size: 11px;
    color: #9B9B9B;
    padding: 17px 15px;
}

.active{
    border-bottom: #0078F2 5px solid;
}

.horizondal-line{
    border-right: white 1px solid;
}

.navbar a:hover{
    color: white;
    border-bottom: #0078F2 5px solid;
}

.navbar-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

.navbar-left img{
    height: 42px;
    padding-right: 20px;
}



.navbar-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
    font-size: 11px;
    color: #9B9B9B;
}

.navbar-right input{
    height: 100%;
    padding: 0 30px;
    font-size: 11px;
    color: white;
    background: #0078F2;
    border: none;
    cursor: pointer;
}

.navbar-right i{
    padding-left: 20px;
}

.sign-in{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.language{
    cursor: pointer;
}

.main{
    width: 100%;
    height: calc(100vh-55px);
    background-color: #121212;
}

.top{
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left:115px ;
    gap:30px
}

.search{
    background-color: #202020;
    width: 230px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
}

.top a:hover{
    color: white;
}

.top input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #202020;
    border: none;
    padding-left: 15px;
    outline: none;
}


.bottom{
    width: 100%;
    height: calc(100vh-155);
    display: flex;

}

.left{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    border-radius: 20px;
}

.right{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gta-v{
    height: 450px;
}

.gta-v-icon , .fortnite-icon, .assasincreed-icon, .fifa-icon, .watchdogs-icon, .valorant-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 50%; 
}

.right img{
    height: 30px;
    border-radius: 20px;
}

.gta-v-icon:hover , .fortnite-icon:hover, .assasincreed-icon:hover, .fifa-icon:hover, .watchdogs-icon:hover, .valorant-icon:hover{
    background-color: #252525;
    border-radius: 15px;
}

.active-home{
    border-radius: 15px;
    background-color: #252525;
}